
@font-face {
	font-family: 'pt_sansregular';
	src: url('../fonts/pts55f.woff2') format('woff2'),
	url('../fonts/pts55f.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'work_sansmedium';
	src: url('../fonts/worksans-medium.woff2') format('woff2'),
	url('../fonts/worksans-medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'work_sansregular';
	src: url('../fonts/worksans-regular.woff2') format('woff2'),
	url('../fonts/worksans-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
